<div class="contentcontainer">
  <div class="headings alt">
    <h2>Blog Editing</h2>
  </div>
  <div class="contentbox">
    <%= form_for @eyd_blog, :url=> blog_update_path do |f| %>
      <%= render :partial=>'eyd_blog/error', :eyd_blog=>@eyd_blog%>
      <p>
      <label for="textfield"><strong>Title :</strong></label>
      <%= f.text_field :title, :class=>"inputbox"%>
      </p>
      <br/>
      <p>
      <label for="textfield"><strong>Tags :</strong></label>
      <%= f.text_field :blog_tags, :class=>"inputbox", :disabled =>"disabled"%> <br/>
      <span class="highlighted">(This is an example of tag input: Funny,Silly)</span>
      </p>
      <br/>
      <p>
      <label for="textfield"><strong>Category :</strong></label>
      <%= f.collection_select :constant_id, @constants, :id, :category, {:prompt =>"Please select ..."} %>
      </p>
      <br/>
      <p>
      <label for="textfield"><strong>Video URL :</strong></label>
      <%= f.text_field :video_url, :class=>"inputbox"%>
      </p>
      <p>
      <label><strong>Save As Draft :</strong>
      <%= f.check_box :is_draft, :class=>"inputbox"%>
      </label>
      </p>
      <p>
      <label for="testfield"><strong>Content :</strong></label>
      <div id="editor-button-bar"></div>
      <%= f.text_area :content, :id=>"editor-input", :required =>"required", :rows=>"16", :cols=>"70"%>
      </p>
      <p>
      <div class="noticebox">
          <div id="editor-preview"></div>
      </div>
      </p>
      <br/>
      <%= f.submit "Submit", :class=>"btn"%> <input type="reset" value="Reset" class="btn" />
    <% end %>
  </div>
</div>
<div id="footer">
  &copy; Copyright 2011 reserved by tim.tang
</div>
<script language="javascript">
  setup_wmd({
    input: "editor-input",
    button_bar: "editor-button-bar",
    preview: "editor-preview"
  });
</script>
