  <!-- Comment form start -->
  <div id="comment_form">
    <h3><%= t('.leave_comment')%></h3>
    <%= form_for @eyd_comment, :url=> comment_create_path do |f| %>
      <%= render :partial=>'eyd_comment/error', :eyd_comment=>@eyd_comment%>
      <div class="form_row">
        <label><%= t('.name')%></label><br/>
        <%= f.text_field :name, "value"=>t(".anonymous"),:onfocus=>'clearText(this)', :onblur=>'clearText(this)' %>
      </div>
      <div class="form_row">
        <label><%= t('.email')%></label><br/>
        <%= f.text_field :email%>
      </div>
      <div class="form_row">
        <label><%= t('.content')%></label><br/>
        <div id="editor-button-bar"></div>
        <%= f.text_area :content, :id=>"comment_content", :required =>"required", :row=>"16", :cols=>"40"%>
      </div>
      <div id="editor-preview"></div>
      <% if @blog!=nil%>
        <%= f.hidden_field :blog_id, "value"=>@blog.id %>
        <%= f.hidden_field :is_guestbook, "value"=>false %>
      <% else %>
        <%= f.hidden_field :is_guestbook, "value"=>true %>
      <% end %>
      <%= f.submit t('.submit'), :class=>"submit_btn"%>
    <% end %>
  </div>
<script language="javascript" type="text/javascript">
  function clearText(field)
  {
    if (field.defaultValue == field.value) field.value = '';
            else if (field.value == '') field.value = field.defaultValue;
  }
 </script>
