<div class="footer_col_w200">
  <h3><%= t(".website_map")%></h3>
  <ul>
    <li><%= link_to t(".home"), root_path%></li>
    <li><%= link_to t(".gallery"), gallery_list_path%></li>
    <li><%= link_to t(".tblog"), tech_list_path%></li>
    <li><%= link_to t(".ibook"), ibook_list_path%></li>
    <li><%= link_to t(".guest_bk"), guest_book_path %></li>
    <li><%= link_to t(".admin"), login_path %></li>
  </ul>            
</div>

<div class="footer_col_w200">
  <h3><%= t(".friend_links")%></h3>
  <ul>
    <li><a href="http://weibo.com/yoyo20110204" target="_blank"><%= t(".link6")%></a></li>
    <li><a href="http://pragprog.com/" target="_blank"><%= t(".link1")%></a></li>
    <li><a href="http://guides.rubyonrails.org/" target="_blank"><%= t(".link2")%></a></li>
    <li><a href="http://railscasts.com/" target="_blank"><%= t(".link3")%></a></li>
    <li><a href="http://stackoverflow.com/" target="_blank"><%= t(".link4")%></a></li>
    <li><a href="http://ihower.tw/blog/" target="_blank"><%= t(".link5")%></a></li>
  </ul>            
</div>

<div class="footer_col_w400">
  <h3><%= t(".contact_us")%></h3>
  <p align="justify"><%= t(".email")%></p>
  <p align="justify">Linode referral code: d942998f8e55bf9e31a0f3cdc394abd882f6e38b</p>
  <p><%= t(".copyright")%></p>
  <p><a href="http://www.linode.com/?r=d942998f8e55bf9e31a0f3cdc394abd882f6e38b" target="_parent"><%= t(".host")%></a></p>
  <p>
  <%=  link_to image_tag("cn.png", :stle=>"absmiddle"), :controller=>'eydf_home', :action=>"index", :locale => "zh"%>
  <%=  link_to image_tag("en.png", :stle=>"absmiddle"), :controller=>'eydf_home', :action=>"index", :locale => "en"%>
   </p>
</div>
<div class="cleaner"></div>
