<div class="footer_col_w200">
  <h3>Our Pages</h3>
  <ul>
    <li><%= link_to "Home", root_path%></li>
    <li><%= link_to "Gallery", gallery_list_path%></li>
    <li><%= link_to "Tim's Blog", tech_list_path%></li>
    <li><%= link_to "iBooks", ibook_list_path%></a></li>
    <li><%= link_to "Guest Book", guest_book_path %></li>
    <li><%= link_to "Administrator", login_path %></li>
  </ul>            
</div>

<div class="footer_col_w200">
  <h3>Friends</h3>
  <ul>
    <li><a href="http://www.templatemo.com">Free CSS Templates</a></li>
    <li><a href="http://www.koflash.com">Websites Gallery</a></li>
    <li><a href="http://www.flashmo.com/store">Premium Templates</a></li>
    <li><a href="http://www.templatemo.com/page/1">Website Layouts</a></li>
    <li><a href="http://www.flashmo.com">Flash Templates</a></li>
  </ul>            
</div>

<div class="footer_col_w400">
  <h3>Contact Us</h3>
  <p align="justify">Email: tang.jilong@gmail.com</p>
  <p align="justify">Linode referral code: d942998f8e55bf9e31a0f3cdc394abd882f6e38b</p>
  <p>All Copyright reserved by <a href="http://weibo.com/everydaycn">Tim.Tang</a></p>
  <p>Website Hosted by <a href="http://www.linode.com/?r=d942998f8e55bf9e31a0f3cdc394abd882f6e38b" target="_parent">Linode VPS</a></p>
  <strong>Choosing Language: </strong>
  <p>
     <a href="#"><%= image_tag "cn.png" %></a>
     <a href="#"><%= image_tag "en.png" %></a>
  </p>
</div>
<div class="cleaner"></div>
