<div id="site_title">
  <h1><%= link_to 'Everyday', root_path%></h1><br/><span><strong>Keep Hungery, Keep Foolish   --Steve Jobs</strong></span>
</div> <!-- end of site_title -->
<div id="templatemo_menu">
  <ul>
    <li><%= link_to t('.home'), root_path, :class=>session[:curt_index]%></li>
    <li><%= link_to t('.gallery'), gallery_list_path, :class=>session[:curt_gallery] %></li>
    <li><%= link_to t('.tblog'), tech_list_path, :class=>session[:curt_tech]%></li>
    <li><%= link_to t('.ibook'), ibook_list_path, :class=>session[:curt_ibook]%></li>
    <li><%= link_to t('.guest_bk'), guest_book_path, :class=> session[:curt_guestbk]%></li>
    <li><%= link_to t('.admin'), login_path%></li>
  </ul>     
</div>
<!-- end of templatemo_menu -->
