<div class="sidebar_box">
  <h3><%= t('.search')%></h3>
  <ul class="tmo_list">
      <%= form_tag search_list_path, :method => :get do %>
      <%= image_tag "search.png", :align=>"absmiddle"%>
      <%= text_field_tag :search, params[:search], :class=>'searchbox' %>
      <%= submit_tag "Search", :name => nil, :style=>"display:none" %>
    <% end %>
  </ul>
</div>
