<div id="content">
  <div class="content_box">
    <h2><%= t('.about_blog')%></h2>
    <%= image_tag "medium_about_us.jpg", :class=>"image_wrapper image_fl",  :alt=>"image", :title=>"About Us"%>
    <p style="color:red"><%= t('.about_us1')%> </p>
    <p style="color:red" align="justify"><%= t('.about_us2')%></p>
    <p style="color:red" align="justify"><%= t('.about_us3')%></p>
  </div>

  <!-- Comments section start -->
  <% if @total_comments.size > 0%>
    <h5><%= t('.comments')%></h5>
  <% end %>
  <div id="comment_section2">
   <%= render 'eydf_home/comment_list', :total_comments=>@total_comments%>
  </div>

  <div class="flickr_pagination">
    <%= will_paginate @total_comments,:class=>"pagination" %>
  </div>

  <span style="float:right" class="dotted_line">
    <strong><%= link_to t('.home'), root_path, :title=>"Home page"%></strong><%= image_tag "home.png", :align=>"absmiddle"%>
  </span>
   <%= render 'eydf_home/comment_form', :eyd_comment=>@eyd_comment%>
</div>


<script type="text/javascript">
  setup_wmd({
input: "comment_content",
button_bar: "editor-button-bar",
preview: "editor-preview"
});

function replyMsg(node,is_reply) {
  window.location.hash = "#bottom";
  jQuery("#comment_content").attr("value","");
  if(is_reply){
    var atname = jQuery(node).parent().parent().find('span').text();
    jQuery("#comment_content").attr("value","***@" + atname + "***: ").focus();
  }else{
    var atname = jQuery(node).parent().parent().text();
    jQuery("#comment_content").attr("value","***@***:"+atname.replace(/(^[\s]*)|([\s]*$)/g,"")+"\n\n---\n").focus();
  }
};
</script>

