<div id="content">
  <% @total_blogs.each do |blog|%>
    <div class="post">
      <%= render :partial=>'eydf_home/postmeta',:locals=> {:blog=>blog}%>
      <div class="post_content post_img">
        <h4><%= image_tag "page.png", :align=>"absmiddle"%><%= link_to blog.title, show_blog_path(blog) %></h4>
        <%=simple_format truncate(rich_content(blog.content), :length=>120)%>
        <div align="right">
          <%= image_tag 'play.png', :align=>"absmiddle"%><%= link_to t('.read_more'),  show_blog_path(blog), :title=>"Read More..." %>
        </div>
      </div>
      <div class="cleaner"></div>
    </div> <!-- end of a post -->
  <% end %>
  <div class="flickr_pagination">
    <%= will_paginate @total_blogs,:class=>"pagination" %>
  </div>
  <br/>
  <div class="cleaner"></div>
</div> 
<!-- end of content -->

