<div id="content">
  <div class="post">
    <%= render :partial=>'eydf_home/postmeta',:locals=> {:blog=>@blog}%>
    <div class="post_content post_img">
      <h4><%= image_tag "page_full.png", :align=>"absmiddle"%><%= @blog.title%></h4>
      <%=simple_format rich_content(@blog.content)%>
      <div class="dotted_line_nopad"></div>
      <% if @prev_blog !=nil%>
        <span style="float:left;">
          <%= image_tag "back.png", :align=>"absmiddle"%><strong><%= link_to @prev_blog.title, show_blog_path(@prev_blog), :title=>"Previous Post"%></strong>
        </span>
      <% end %>
      <% if @next_blog !=nil%>
        <span style="float:right;">
          <strong><%= link_to @next_blog.title , show_blog_path(@next_blog), :title=>"Next Post"%></strong><%= image_tag "next.png", :align=>"absmiddle"%> 
        </span>
      <% end %>
      <br/>
      <br/>
      <!-- Comments section start -->
      <% if @total_comments.size > 0%>
        <h2>Comments</h2>
      <% end %>
      <div id="comment_section">
        <%= render :partial=>'eydf_home/comment_list', :total_comments=>@total_comments%>
      </div>

      <div class="flickr_pagination">
        <%= will_paginate @total_comments,:class=>"pagination" %>
      </div>

      <span style="float:right" class="dotted_line">
        <strong><%= link_to "Home", root_path, :title=>"Home page"%></strong><%= image_tag "home.png", :align=>"absmiddle"%>
      </span>
      <%= render :partial=>'eydf_home/comment_form', :eyd_comment=>@eyd_comment%>
    </div>
    <!-- Comments section end -->
    <div class="cleaner"></div>
  </div> <!-- end of a post -->
  <div class="cleaner"></div>
</div> 
<!-- end of content -->

<script type="text/javascript">
  setup_wmd({
input: "comment_content",
button_bar: "editor-button-bar",
preview: "editor-preview"
});

function replyMsg(node,is_reply) {
  window.location.hash = "#bottom";
  jQuery("#comment_content").attr("value","");
  if(is_reply){
    var atname = jQuery(node).parent().parent().find('span').text();
    jQuery("#comment_content").attr("value","***@" + atname + "***: ").focus();
  }else{
    var atname = jQuery(node).parent().parent().text();
    jQuery("#comment_content").attr("value","***@***:"+atname.replace(/(^[\s]*)|([\s]*$)/g,"")+"\n\n---\n").focus();
  }
};
</script>

