<!--tart Advanced Gallery Html Containers -->
<div class="content_box">
  <h2>Photo Gallery</h2>
  <div id="gallery" class="content">
    <div class="slideshow-container">
      <div id="loading" class="loader"></div>
      <div id="slideshow" class="slideshow"></div>
      <div id="controls" class="controls"></div>
    </div>
  </div>

  <div class="alphacloud2">
    <% if EydAvatar.tag_counts.length > 0%>
      <span><%= image_tag "tag_large.png"%>
      <% tag_cloud(EydAvatar.tag_counts, %w(common1 common2 common3 common4)) do |tag, css_class|%>
        <%= link_to tag.name, {:action=>:tag_gallery_list, :id=> tag.name}, :class=>css_class%>
      <% end %>
    </span>
    <% else %>
      <%= content_tag :p, "No tags"%>
    <% end %>
  </div>


  <div id="thumbs" class="navigation">
    <ul class="thumbs noscript">
      <% @total_avatars.each do |photo|%>
        <li>
        <%= link_to image_tag(photo.avatar.url.sub("original","thumb")), photo.avatar.url.sub("original","large"), :class=>"thumb", :name=>"leaf" %>
        <div class="caption">
          <div class="download">
            <%= link_to "View Large", photo.avatar.url%>
          </div>
        </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<script type="text/javascript">
  jQuery(document).ready(function($) {
      // We only want these styles applied when javascript is enabled
      $('div.navigation').css({'width' : '300px', 'float' : 'left'});
      $('div.content').css('display', 'block');

      // Initially set opacity on thumbs and add
      // additional styling for hover effect on thumbs
      var onMouseOutOpacity = 0.67;
      $('#thumbs ul.thumbs li').opacityrollover({
mouseOutOpacity:   onMouseOutOpacity,
mouseOverOpacity:  1.0,
fadeSpeed:         'fast',
exemptionSelector: '.selected'
});

      // Initialize Advanced Galleriffic Gallery
      var gallery = $('#thumbs').galleriffic({
delay:                     2500,
numThumbs:                 12,
preloadAhead:              10,
enableTopPager:            true,
enableBottomPager:         true,
maxPagesToShow:            7,
imageContainerSel:         '#slideshow',
controlsContainerSel:      '#controls',
captionContainerSel:       '#caption',
loadingContainerSel:       '#loading',
renderSSControls:          true,
renderNavControls:         true,
playLinkText:              'Play Slideshow',
pauseLinkText:             'Pause Slideshow',
prevLinkText:              '&lsaquo; Previous Photo',
nextLinkText:              'Next Photo &rsaquo;',
nextPageLinkText:          'Next &rsaquo;',
prevPageLinkText:          '&lsaquo; Prev',
enableHistory:             false,
autoStart:                 false,
syncTransitions:           true,
defaultTransitionDuration: 900,
onSlideChange:             function(prevIndex, nextIndex) {
  // 'this' refers to the gallery, which is an extension of $('#thumbs')
  this.find('ul.thumbs').children()
    .eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
    .eq(nextIndex).fadeTo('fast', 1.0);
},
onPageTransitionOut:       function(callback) {
                             this.fadeTo('fast', 0.0, callback);
                           },
onPageTransitionIn:        function() {
                             this.fadeTo('fast', 1.0);
                           }
});
});
</script>
