<div id="content">
  <div class="content_box">
    <h2>Taggable Listing</h2>
    <div id="gallery">
      <% @total_blogs.each do |blog|%>
        <div class="gallery_box">
          <%= image_tag "tag.png", :align=>"absmiddle"%> 
          <% blog.tag_list.each do |tag|%>
            <span class="highlighted"><%= link_to tag, {:action=>:tag_list, :id=>tag}, :title=>"Tags" %></span>
          <% end %>
          <span style="float:right"><strong><%= blog.updated_at.strftime("%Y-%m-%d %H:%M:%S")%></strong></span>
          <br/>
          <h4><%= link_to blog.title, show_blog_path(blog)%></h4>
          <%=simple_format truncate(rich_content(blog.content), :length=>60)%>
          <%= link_to image_tag('play.png')+"Read More ...", show_blog_path(blog),:title=>"Read More ...", :style=>"float:right" %>
          <div class="cleaner"></div>
        </div>
      <% end %>
    </div>
    <div class="flickr_pagination">
      <%= will_paginate @total_blogs,:class=>"pagination" %>
    </div>
    <br/>
  </div>
</div>
