<!-- Left Side Bar Start -->
  <div class="user">
    <img src="images/avatar.png" width="44" height="44" class="hoverimg" alt="Avatar" />
    <p>Welcome to login:</p>
    <p class="username"><%= session[:user_name]%></p>
    <%= button_to "Log out", "http://www.everyday-cn.com", :method => :delete, :class=>"userbtn" %>
  </div>
  <ul id="nav">
    <li>
    <a class="expanded heading">Photos Management</a>
    <ul class="navigation">
      <li><%= link_to "Photos Listing", avatar_index_path%></li>
      <li><%= link_to "Photo Uploading", avatar_new_path%></li>
    </ul>
    </li>
    <li><a class="expanded heading">iBooks Management</a>
    <ul class="navigation">
      <li><%= link_to "iBooks Listing", ibook_index_path%></li>
      <li><%= link_to "iBooks Uploading",ibook_new_path%></li>
    </ul>
    </li>
    <li><a class="expanded heading">Blogs Management</a>
    <ul class="navigation">
      <li><%= link_to "Blogs Listing", blog_index_path %></li>
      <li><%= link_to "Blog Draft Listing", blog_draft_path %></li>
      <li><%= link_to "Blog Creating", blog_new_path %></li>
    </ul>
    </li>
    <li><a class="expanded heading">Category Management</a>
    <ul class="navigation">
      <li><%= link_to "Category Listing", constant_index_path %></li>
      <li><%= link_to "Category Creating", constant_new_path %></li>
    </ul>
    </li>
    <li><a class="expanded heading">Comments Management</a>
    <ul class="navigation">
      <li><%= link_to "Comments Listing", comment_index_path %></li>
    </ul>
    </li>
  </ul>
<!-- Left Side Bar End -->
