
<!DOCTYPE html>
<html>
  <head>
    <title>Everyday</title>
    <%= stylesheet_link_tag "templatemo_style.css", :media => "screen" %>
    <%= stylesheet_link_tag "flickr_pagination.css", :media => "screen" %>
    <%= stylesheet_link_tag "wmd.css", :media => "screen" %>
    <%= stylesheet_link_tag "white/style.css", :media => "screen" %>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'></script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js'></script>
    <%= auto_discovery_link_tag :atom, "/eydf_home/rss_feed" %>
    <%= auto_discovery_link_tag :rss, "/eydf_home/rss_feed.rss" %>
    <%= javascript_include_tag "wmd.combined.min.js" %>
    <%= javascript_include_tag "jquery.rails.js", "application.js" %>
    <%= javascript_include_tag "functions.js" %>
    <%= javascript_include_tag "piroBox.1_2.js" %>
    <%= csrf_meta_tag %>
    <script type="text/javascript">
      $(document).ready(function() {
          $().piroBox({
my_speed: 600, //animation speed
bg_alpha: 0.5, //background opacity
radius: 4, //caption rounded corner
scrollImage : false, // true == image follows the page, false == image remains in the same open position
pirobox_next : 'piro_next', // Nav buttons -> piro_next == inside piroBox , piro_next_out == outside piroBox
pirobox_prev : 'piro_prev',// Nav buttons -> piro_prev == inside piroBox , piro_prev_out == outside piroBox
close_all : '.piro_close',// add class .piro_overlay(with comma)if you want overlay click close piroBox
slideShow : 'slideshow', // just delete slideshow between '' if you don't want it.
slideSpeed : 4 //slideshow duration in seconds(3 to 6 Recommended)
});
          });
</script>
      </head>
      <body>
        <%= link_to image_tag("forkme_right_white_ffffff.png"), "https://github.com/tim-tang/everyday", :style=>"position: absolute; top: 0; right: 0; border: 0;"%>
        <div id="templatemo_wrapper_outer">
          <div id="templatemo_wrapper">
            <div id="templatemo_header"> 
              <%= render :partial=>'eydf_home/header', :object=>"xxx"%>
            </div>

            <div id="templatemo_main_wrapper">
              <div id="templatemo_main">
                <%= yield %>
                <div class="cleaner"></div>
              </div>
            </div>
          </div>

          <div id="templatemo_footer">
            <%= render :partial=>'eydf_home/footer', :object=>"xxx"%>
          </div>
        </div>
      </body>
    </html>
