<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="ruby,rails,linux,ubuntu,mac,git" />
    <meta name="description" content="Everyday Rails|Ubuntu|Git|Vim|Mongodb" />
    <meta name="robots" content="ruby on rails,git,技术博客,mongodb,blog" />
    <title>Everyday | [Rails|Ubuntu|Git|Vim]</title>
    <link rel="shortcut icon" type="image/png" href="favicon.ico" />
    <%= stylesheet_link_tag "templatemo_style.css", :media => "screen" %>
    <%= stylesheet_link_tag "flickr_pagination.css", :media => "screen" %>
    <%= stylesheet_link_tag "wmd.css", :media => "screen" %>
    <%= stylesheet_link_tag "galleriffic-2.css", :media => "screen" %>
    <%= stylesheet_link_tag "white/style.css", :media => "screen" %>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
    <%= auto_discovery_link_tag :atom, "/eydf_home/rss_feed" %>
    <%= auto_discovery_link_tag :rss, "/eydf_home/rss_feed.rss" %>
    <%= javascript_include_tag "jquery.min-1.5.1.js" %>
    <%= javascript_include_tag "jquery-ui.min-1.8.6.js" %>
    <%= javascript_include_tag "wmd.combined.min.js" %>
    <%= javascript_include_tag "jquery.rails.js", "application.js" %>
    <%= javascript_include_tag "functions.js" %>
    <%= javascript_include_tag "piroBox.1_2.js" %>
    <%= javascript_include_tag "jquery.galleriffic.js" %>
    <%= javascript_include_tag "jquery.opacityrollover.js" %>

    <%= csrf_meta_tag %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23115957-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>

     <script type="text/javascript">
       $(document).ready(function() {
           $().piroBox({
my_speed: 600, //animation speed
bg_alpha: 0.5, //background opacity
radius: 4, //caption rounded corner
scrollImage : false, // true == image follows the page, false == image remains in the same open position
pirobox_next : 'piro_next', // Nav buttons -> piro_next == inside piroBox , piro_next_out == outside piroBox
pirobox_prev : 'piro_prev',// Nav buttons -> piro_prev == inside piroBox , piro_prev_out == outside piroBox
close_all : '.piro_close',// add class .piro_overlay(with comma)if you want overlay click close piroBox
slideShow : 'slideshow', // just delete slideshow between '' if you don't want it.
slideSpeed : 4 //slideshow duration in seconds(3 to 6 Recommended)
});
           });
</script>
  </head>
  <body>
    <%= link_to image_tag("forkme_right_white_ffffff.png"), "https://github.com/tim-tang/everyday", :style=>"position: absolute; top: 0; right: 0; border: 0;", :target=>"_blank"%>
    <div id="templatemo_wrapper_outer">
      <div id="templatemo_wrapper">
        <div id="templatemo_header"> 
          <%= render :partial=>'eydf_home/header', :object=>"xxx"%>
        </div>

        <div id="templatemo_main_wrapper">
          <div id="templatemo_main">
            <%= yield %>
            <% if session[:curt_gallery] != "current"%>
              <div id="sidebar">
                <%= render :partial=>'eydf_home/subrss', :locals =>{:object=>"xxx"}%>
                <%= render :partial=>'eydf_home/categories', :locals =>{:userId=>session[:userId]}%>
                <%= render :partial=>'eydf_home/cloudtags', :object=>"xxx"%>
                <%= render :partial=>'eydf_home/comments', :object=>"xxx"%>
                <%= render :partial=>'eydf_home/archivals', :locals=>{:userId=>session[:userId]}%>
              </div>
            <% end %>
            <div class="cleaner"></div>
          </div>
        </div>
      </div>

      <div id="templatemo_footer">
        <%= render :partial=>'eydf_home/footer', :object=>"xxx"%>
      </div>
    </div>
  </body>
</html>

